<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="./../styles/style-guide.css"/>
</head>
<body>
    <section class="example-section">
        <button class="bt bt--apply">Apply Now</button>
    </section>

    <section class="example-section">
        <button class="bt bt--request">Request</button>
    </section>

    <section class="example-section">
        <button class="bt bt--request-quote">Request a Quote</button>
    </section>

    <section class="example-section">
        <button class="bt bt--add">+ Add</button>
    </section>

    <section class="example-section">
        <button class="bt bt--add--secondary">+ Add</button>
    </section>
</body>
</html>