<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="./../styles/style-guide.css"/>
</head>
<body>
    <section class="example example--padded example--darkened text--center">
        <div class="pagination">
            <span class="pagination__page"></span>
            <span class="pagination__page"></span>
            <span class="pagination__page pagination__page--active"></span>
            <span class="pagination__page"></span>
        </div>
    </section>
</body>
</html>