<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="./../styles/style-guide.css"/>
</head>
<body>
    <section class="example">
        <div class="ratings">
            <span class="ratings__star"></span>
            <span class="ratings__star"></span>
            <span class="ratings__star ratings__star--active"></span>
            <span class="ratings__star"></span>
            <span class="ratings__star"></span>
        </div>
    </section>
</body>
</html>