<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="./../styles/style-guide.css"/>
</head>
<body>
    <section class="example-section">
        <div class="view-control">
            <label class="view-control__label">View</label>

            <ul class="view-control__options">
                <li class="view-control__option">24</li>
                <li class="view-control__option">48</li>
                <li class="view-control__option view-control__option--active">96</li>
                <li class="view-control__option">All</li>
            </ul>
        </div>
    </section>
</body>
</html>