<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="./../styles/style-guide.css"/>
</head>
<body>
    <section class="example">
        <h3 class="example__heading">text--center</h3>

        <div class="example__content text--center">
            The quick brown fox jumps over the lazy dog.
        </div>
    </section>

    <section class="example">
        <h3 class="example__heading">text--left</h3>

        <div class="example__content text--left">
            The quick brown fox jumps over the lazy dog.
        </div>
    </section>

    <section class="example">
        <h3 class="example__heading">text--right</h3>

        <div class="example__content text--right">
            The quick brown fox jumps over the lazy dog.
        </div>
    </section>

    <section class="example">
        <h3 class="example__heading">text--lower</h3>

        <div class="example__content text--lower">
            The quick brown fox jumps over the lazy dog.
        </div>
    </section>

    <section class="example">
        <h3 class="example__heading">text--upper</h3>

        <div class="example__content text--upper">
            The quick brown fox jumps over the lazy dog.
        </div>
    </section>

    <section class="example">
        <h3 class="example__heading">text--capitalize</h3>

        <div class="example__content text--capitalize">
            The quick brown fox jumps over the lazy dog.
        </div>
    </section>

    <section class="example">
        <h3 class="example__heading">text--nowrap</h3>

        <div class="example__content text--nowrap">
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog twice.
        </div>
    </section>

    <section class="example">
        <h3 class="example__heading">text--ellipsis</h3>

        <div class="example__content text--ellipsis">
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog twice.
        </div>
    </section>
</body>
</html>