<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="./../styles/style-guide.css"/>
</head>
<body>
    <section class="example">
        <h3 class="example__heading">Nirmala UI Regular</h3>

        <p class="example__content nirmala-ui-font regular">
            The quick brown fox jumps over the lazy dog. 1234567890
        </p>
    </section>

    <section class="example">
        <h3 class="example__heading">Nirmala UI Bold</h3>

        <p class="example__content nirmala-ui-font bold">
            The quick brown fox jumps over the lazy dog. 1234567890
        </p>
    </section>

    <section class="example">
        <h3 class="example__heading">Radikal W01 Medium</h3>

        <p class="example__content radikal-w01-font medium">
            The quick brown fox jumps over the lazy dog. 1234567890
        </p>
    </section>

    <section class="example">
        <h3 class="example__heading">Roboto Light</h3>

        <p class="example__content roboto-font light">
            The quick brown fox jumps over the lazy dog. 1234567890
        </p>
    </section>

    <section class="example">
        <h3 class="example__heading">Roboto Regular</h3>

        <p class="example__content roboto-font regular">
            The quick brown fox jumps over the lazy dog. 1234567890
        </p>
    </section>

    <section class="example">
        <h3 class="example__heading">Roboto Medium</h3>

        <p class="example__content roboto-font medium">
            The quick brown fox jumps over the lazy dog. 1234567890
        </p>
    </section>

    <section class="example">
        <h3 class="example__heading">Roboto Bold</h3>

        <p class="example__content roboto-font bold">
            The quick brown fox jumps over the lazy dog. 1234567890
        </p>
    </section>
</body>
</html>