@charset "UTF-8";

@heading-color: #165489;
@light: 200;
@regular: 400;
@medium: 500;
@bold: 700;

// Example Section

.example-section {
  margin-bottom: 50px;

  .example-heading {
    color: @heading-color;
  }

  .example-content {
    font-size: 16px;

    .example-item {
      line-height: 30px;
    }

    .example-swatch {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #000000;
      vertical-align: middle;
    }
  }
}


// Fonts

.light {
  font-weight: @light;
}

.regular {
  font-weight: @regular;
}

.medium {
  font-weight: @medium;
}

.bold {
  font-weight: @bold;
}

.nirmala-ui-font {
  font-family: 'Nirmala UI', sans-serif;
}

.radikal-w01-font {
  font-family: 'Radikal W01', sans-serif;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}